@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Regular.eot");
    src: url("../fonts/OpenSans-Regular.eot?#iefix") format('embedded-opentype'),
        url("../fonts/OpenSans-Regular.woff2") format('woff2'),
        url("../fonts/OpenSans-Regular.woff") format('woff'),
        url("../fonts/OpenSans-Regular.ttf") format('truetype'),
        url("../fonts/OpenSans-Regular.svg#OpenSans-Regular") format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.wrapper{
    /* background: #f9f9f9; */
    /* background: linear-gradient(rgba(87, 17, 250, 0.5), rgb(46, 174, 243, 0.5), rgb(218, 248, 49, 0.5)); */
    background: radial-gradient(rgba(87, 17, 250, 0.5), rgb(46, 174, 243, 0.5), rgb(218, 248, 49, 0.5));
    font-family: 'Open Sans', sans-serif;
}

.page{
    display:flex;
    flex-direction: column;
    width: 1000px;
    min-height: 100vh;
    padding: 30px;
    margin: 0 auto;
    background: white;
}

/* HEADER */

.logo-link{
    display: block;
}

.logo{
    width: 130px;
    margin-bottom: 40px;
}

.menu-container{
    background: linear-gradient(#5e5e5e,#444343);
}
.menu-item{
    display: inline-block;
}
.menu-link{
    display: inline-block;
    border-left: 1px solid #ffffff00;
    border-right: 1px solid #ffffff00;
    height: 50px;
    line-height: 50px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.menu-link:hover{
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
    background: linear-gradient(#4a4a4a, #313131);

}

/* MAIN */

main{
    display: flex;
}

.temptext{
    margin: 30px auto;
}
.sidebar-container{
    margin: 30px 50px 0 0;
    width: 278px;
}

.sidebar-link{
    display: block;
    margin: auto;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #c8c8c8;
    border-top: none;
    text-decoration: none;
    color: #656363;
}

.sidebar-link:first-child{
    border-top: 1px solid #c8c8c8;
}

.sidebar-link:hover{
    padding-left: 35px;
    background: #f9f9f9;
    color: #2c2c2c;
}

.img-bicycle-box{
    margin: 30px 0 20px 0;
    padding: 50px;
    max-width: 570px;
    width: 100%;
    border: 1px solid #c8c8c8;
}

.text{
    width: 560px;
    margin: 0 auto;
    line-height: normal;
    font-size: unset;
    color: #2c2c2c;
    /* font-family: 'Times New Roman', Times, serif; */
    text-indent: 40px;
}

/* FOOTER */

.footer{
    margin-top: auto;
}

.footer-menu-container{
    height: 40px;
    margin: 40px auto;
    border-radius: 2px;
    background: #e1e1e1;
}

.foot-menu-item{
    display: inline-block;
}

.foot-menu-link{
    display: inline-block;
    padding: 12px 0;
    width: 150px;
    text-align: center;
    text-decoration: none;
    color: #2c2c2c;
}

.foot-menu-link:hover{
    text-decoration: underline;
}

.foot-menu-item:last-child{
    width: 200px;
    margin-left: 150px;
}
